pipeline-Exo-Test.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Nom de fabrique de données"},"AzureDatabricks1":{"type":"string"},"SqlServerExoTest":{"type":"string"},"AzureDataLakeStorageExoTest":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/pipeline-Exo-Test')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Lookup1","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":"SELECT \n    s.name AS SchemaName,\n    t.name AS TableName\nFROM\n    sys.tables t\n    INNER JOIN sys.schemas s ON t.schema_id = s.schema_id\nWHERE\n    s.name = 'SalesLT';\n","queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"SqlServerTable1","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"Lookup1","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Lookup1').output.value","type":"Expression"},"activities":[{"name":"Copy data1","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"@{concat('SELECT* FROM ', item().SchemaName, '.' , item().TableName)}","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"SqlServerTable1","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"Parquet1","type":"DatasetReference","parameters":{"SchemaName":{"value":"@item().SchemaName","type":"Expression"},"TableName":{"value":"@item().TableName","type":"Expression"}}}]}]}},{"name":"Bronze vers Silver","type":"DatabricksNotebook","dependsOn":[{"activity":"ForEach1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/mlsanoh3@outlook.com/Bronze vers Silver"},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks1')]","type":"LinkedServiceReference"}},{"name":"Silver vers Gold","type":"DatabricksNotebook","dependsOn":[{"activity":"Bronze vers Silver","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/mlsanoh3@outlook.com/Silver vers gold"},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks1')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2025-09-09T20:48:37Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/SqlServerTable1')]","[concat(variables('factoryId'), '/datasets/Parquet1')]"]},{"name":"[concat(parameters('factoryName'), '/SqlServerTable1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('SqlServerExoTest')]","type":"LinkedServiceReference"},"annotations":[],"type":"SqlServerTable","schema":[{"name":"AddressID","type":"int","precision":10},{"name":"AddressLine1","type":"nvarchar"},{"name":"AddressLine2","type":"nvarchar"},{"name":"City","type":"nvarchar"},{"name":"StateProvince","type":"nvarchar"},{"name":"CountryRegion","type":"nvarchar"},{"name":"PostalCode","type":"nvarchar"},{"name":"rowguid","type":"uniqueidentifier"},{"name":"ModifiedDate","type":"datetime","precision":23,"scale":3}],"typeProperties":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Parquet1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorageExoTest')]","type":"LinkedServiceReference"},"parameters":{"SchemaName":{"type":"string"},"TableName":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@{concat(dataset().TableName, '.parquet')}","type":"Expression"},"folderPath":{"value":"@{concat(dataset().SchemaName, '/', dataset().TableName)}","type":"Expression"},"fileSystem":"bronze"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}